.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition-behavior: all 0.3s ease;  //hover
    cursor: pointer;

    &.primary {
        background-color: $primary-color;
        color: $bg-color;
        border: 2px solid $primary-color;

        &:hover {
            background-color: transparent;
            color: $primary-color;
        }
    }
    &.secondary {
        background-color: transparent;
        color: $primary-color;
        border: 2px solid $primary-color;

        &:hover {
            background-color: $primary-color;
            color: $bg-color;
        }
    }
}

.project-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 40px;
}

.project-card{
    background-color: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, border-color 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        border-color: $primary-color;
    }

    &.wip {
        border-color: rgba(255, 193, 7, 0.3);

        &:hover {
            border-color: #ffc107;
        }
    }

    .card-content {
        padding: 20px;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        color: $text-color;
    }

    p {
        font-size: 0.95rem;
        color: $secondary-color;
        margin-top: 20px;
    }
}

.status-badge {
    display: inline-block;
    background-color: rgba(255, 193, 7, 0.15);
    color: #ffc107;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 20px;
    margin: 20px 0 0 20px;
    border: 1px solid rgba(255, 193, 7, 0.3);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;

    span {
        font-size: 0.8rem;
        background-color: rgba($primary-color, 0.1);
        color: $primary-color;
        padding: 4px 10px;
        border-radius: 4px;
    }
}

