.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition-behavior: all 0.3s ease;  //hover
    cursor: pointer;

    &.primary {
        background-color: $primary-color;
        color: $bg-color;
        border: 2px solid $primary-color;

        &:hover {
            background-color: transparent;
            color: $primary-color;
        }
    }
    &.secondary {
        background-color: transparent;
        color: $primary-color;
        border: 2px solid $primary-color;

        &:hover {
            background-color: $primary-color;
            color: $bg-color;
        }
    }
}

