header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba($bg-color, 0.95);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);

    .logo a {
        font-size: 1.5rem;
        font-weight: bold;
        color: $primary-color;
        letter-spacing: 1px;
    }


    nav ul {
        display: flex;
        list-style: none;
        gap: 40px;
        margin: 0;
        padding: 0;

        li a {
            font-size: 1rem;
            color: $text-color;
            font-weight: 500;
            transition: color 0.3s ease;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
#hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0 10%;

    .hero-text {
        width: 50%;
        h1 {
            font-size: 3rem;
            color: $primary-color;
            margin-bottom: 20px;
        }

        p{
            font-size: 1.2rem;
            margin-bottom: 30px;
            color: $secondary-color;
        }
    }

    .hero-image {
        width: 40%;

        img {
            width: 100%;
            border-radius: 50%;
            border: 3px;
            box-shadow: 0 0 20px rgba($primary-color, 0.5);
        }
    }
}