@import 'variables';
@import 'layout';
@import 'components';

//RESET BASICO
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color: $text-color;
    font-family: $font-stack;
    line-height: 1.6;
}
//LAPUTA

//CORRECCION DE LINK

a {
    text-decoration: none;
    color: inherit; //HERENCIA
}

